.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 20px 0;
}

.card-link {
  position: absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  &:hover {
    background-color: rgba(245, 245, 245, 0.3);
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.container {
  padding: 20px;
  margin-top: 50px;
}

.cocktail-name-description h2 {
  font-size: 16px
}
